{% extends 'base.html.twig' %}

{% block body %}

    <section class="page-title" style="background-image:url(images/background/6.png);">
        <div class="auto-container">
            <div class="inner-box">
                <h1>A propos de nous </h1>
                <div class="bread-crumb"><a href="index.html">Dahom &nbsp; /</a> <a class="current">A propos de nous </a></div>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!--Welcome Section-->
    <section class="welcome-section">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Content Column / Fact Counter Two-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-box">
                        <h3>Bienvenue chez DAHOM </h3>
                        <div class="text"> Dahom protection et services est né de la volonté de monsieur Arsène Chakoun diplômé de	l’Université Paris Descartes en sécurité des biens et des personnes. Un homme très	ambitieux qui, après un diplôme de créateur d’entreprise au centre national de création	d’entreprise au conservatoire national des arts et métiers, poursuit des études plus	poussées dans le domaine de la sécurité privée à l’université Paris Descartes où il obtient	après la licence « sécurité des biens et des personnes » et le diplôme d’université « sécurité-	sureté dans l’espace ouvert au public », réussit à mettre en place Dahom protection et services qui se veut une entreprise privée de sécurité qui met au cœur de ses	préoccupations, la satisfaction du client, un middle management plus efficace et une	attention particulière sur la qualité de la formation de ses collaborateurs ainsi que leur sens	de service</div>

                        <!--Fact Counter Two-->
                        <div class="fact-counter">
                            <div class="clearfix">

                                <!--Column-->
                                <!-- <div class="inner-column light-bg counter-column wow fadeIn">
                                      <div class="inner">
                                          <div class="icon-box"><span class="icon flaticon-close"></span></div>
                                          <div class="count-outer">
                                              <span class="count-text" data-speed="4000" data-stop="3500">0</span>
                                          </div>
                                          <h4 class="counter-title">Guards</h4>
                                      </div>
                                  </div>

                                  <!--Column-->
                                <!-- <div class="inner-column counter-column wow fadeIn">
                                     <div class="inner">
                                         <div class="icon-box"><span class="icon flaticon-badge-with-ribbons"></span></div>
                                         <div class="count-outer">
                                             <span class="count-text" data-speed="3000" data-stop="48">0</span>
                                         </div>
                                         <h4 class="counter-title">Awards</h4>
                                     </div>
                                 </div>

                                 <!--Column-->
                                <div class="inner-column counter-column wow fadeIn">
                                    <div class="inner">
                                        <!--<div class="icon-box"><span class="icon flaticon-crosshair"></span></div>-->
                                        <div class="count-outer">
                                            <!--<span class="count-text" data-speed="2000" data-stop="35">0</span>-->
                                        </div>
                                        <!--<h4 class="counter-title">Branches</h4>-->
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <!--Video Column-->
                <div class="column col-md-6 col-sm-12 col-xs-12">
                    <div class="video-box">
                        <figure class="image">
                            <img src="images/resource/team.jpg" alt="">
                        </figure>
                        <!---<a href="https://www.youtube.com/watch?v=0e1uTwSRGgI" class="lightbox-image overlay-box">-->
                        <span class="flaticon-arrows-2"></span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End Welcome Section-->

    <!--Featured Section-->
    <section class="featured-section">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Featured Post-->
                <!---	<div class="featured-post col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="number-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">01</div>
                            <h3><a href="services-single.html">WHO WE ARE</a></h3>
                            <div class="text">The Love Boat promises something for  beat of just one drum a young loner on crusade to champion innocent.</div>
                            <a class="read-more" href="services-single.html">Read More <span class="icon flaticon-right-arrow"></span></a>
                        </div>
                    </div>
                    <!--End Featured Post-->

                <!--Featured Post-->
                <!---<div class="featured-post col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="number-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">02</div>
                        <h3><a href="services-single.html">OUR MISSION</a></h3>
                        <div class="text">The Love Boat promises something for  beat of just one drum a young loner on crusade to champion innocent.</div>
                        <a class="read-more" href="services-single.html">Read More <span class="icon flaticon-right-arrow"></span></a>
                    </div>
                </div>
                <!--End Featured Post-->

                <!--Featured Post-->
                <!---<div class="featured-post col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="number-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">03</div>
                        <h3><a href="services-single.html">OUR VISION</a></h3>
                        <div class="text">The Love Boat promises something for  beat of just one drum a young loner on crusade to champion innocent.</div>
                        <a  class="read-more" href="services-single.html">Read More <span class="icon flaticon-right-arrow"></span></a>
                    </div>
                </div>
                <!--End Featured Post-->

            </div>
        </div>
    </section>
    <!--End Featured Section-->

    <!--Guards Section-->
    <!--- <section class="guard-section">
         <div class="auto-container">
             <!--Sec Title-->
    <!-- <div class="sec-title">
         <h2>OUR GUARDS</h2>
         <div class="text">The Love Boat promises something for everyone now to beat every of just one</div>
     </div>
     <!--Sec Title-->

    <!---<div class="row clearfix">

        <!--Guard Member-->
    <!--<div class="guard-member col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
            <!--Image Box-->
    <!--<div class="image-box">
        <img src="images/resource/guard-1.jpg" alt="" />
    </div>
    <!--Lower Content-->
    <!--<div class="lower-content">

        <!--Content-->
    <!---<div class="content">
        <h3>NATHAN JONES</h3>
        <div class="designation">Senior Guard</div>
        <!--Social Icon-->
    <!--<div class="social-icon">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
    </div>
    <div class="left-arrow"></div>
     <div class="right-arrow"></div>
</div>

</div>
</div>
</div>

<!--Guard Member-->
    <!--<div class="guard-member col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
            <!--Image Box-->
    <!--<div class="image-box">
        <img src="images/resource/guard-2.jpg" alt="" />
    </div>
    <!--Lower Content-->
    <!--- <div class="lower-content">

         <!--Content-->
    <!---<div class="content">
        <h3>NATHAN JONES</h3>
        <div class="designation">Senior Guard</div>
        <!--Social Icon-->
    <!--<div class="social-icon">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
    </div>
    <div class="left-arrow"></div>
     <div class="right-arrow"></div>
</div>

</div>
</div>
</div>

<!--Guard Member-->
    <!--<div class="guard-member col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
            <!--Image Box-->
    <!---<div class="image-box">
        <img src="images/resource/guard-3.jpg" alt="" />
    </div>
    <!--Lower Content-->
    <!-- <div class="lower-content">

         <!--Content-->
    <!--<div class="content">
        <h3>NATHAN JONES</h3>
        <div class="designation">Senior Guard</div>
        <!--Social Icon-->
    <!--- <div class="social-icon">
         <a href="#" class="fa fa-facebook"></a>
         <a href="#" class="fa fa-twitter"></a>
         <a href="#" class="fa fa-linkedin"></a>
     </div>
     <div class="left-arrow"></div>
      <div class="right-arrow"></div>
 </div>

</div>
</div>
</div>

</div>

</div>
</section>
<!--End Guards Section-->

    <!--Testimonial Section-->
    <!-- <section class="testimonial-section">
         <div class="auto-container">
             <h2>OUR CLIENTS SAYS</h2>

             <!--Three Item Carousel-->
    <!-- <div class="three-item-carousel">
         <!--Testimonial Block One-->
    <!-- <div class="testimonial-block-one">
         <div class="inner-box">
             <div class="quote-icon"><span class="icon flaticon-left-quote"></span></div>
             <div class="text">The Love Boat promises something for everyone now to beat every of just one and his Skipper too will do their in their tropic island nest.</div>
             <!--Author Info-->
    <!--  <div class="author-info">
          <div class="author-image">
              <img src="images/resource/author-1.jpg" alt="" />
          </div>
          <h3>ANGEL JONES</h3>
          <div class="designation">Execfise</div>
          <!--Rating-->
    <!--<div class="rating">
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star-half-empty"></span>
    </div>
</div>
</div>
</div>-->

    <!--Testimonial Block One-->
    <!--<div class="testimonial-block-one">
        <div class="inner-box">
            <div class="quote-icon"><span class="icon flaticon-left-quote"></span></div>
            <div class="text">The Love Boat promises something for everyone now to beat every of just one and his Skipper too will do their in their tropic island nest.</div>
            <!--Author Info-->
    <!-- <div class="author-info">
         <div class="author-image">
             <img src="images/resource/author-2.jpg" alt="" />
         </div>
         <h3>MATT MORGAN</h3>
         <div class="designation">Forge</div>
         <!--Rating-->
    <!-- <div class="rating">
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star-half-empty"></span>
     </div>
 </div>
</div>
</div>

<!--Testimonial Block One-->

    <!--<div class="inner-box">
        <div class="quote-icon"><span class="icon flaticon-left-quote"></span></div>
        <div class="text">The Love Boat promises something for everyone now to beat every of just one and his Skipper too will do their in their tropic island nest.</div>
        <!--Author Info-->
    <!--<div class="author-info">
        <div class="author-image">
            <img src="images/resource/author-3.jpg" alt="" />
        </div>
        <h3>PAUL VINCENT</h3>
        <div class="designation">Massi</div>
        <!--Rating-->
    <!-- <div class="rating">
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star-half-empty"></span>
     </div>
 </div>
</div>
</div>

</div>

</div>

</section>
<!--End Testimonial Section-->




    <!--sponsors style One-->
    <!-- <section class="sponsors-style-one">
         <div class="auto-container">
             <div class="sponsors-outer">
                 <!--Sponsors Carousel-->
    <!--<ul class="sponsors-carousel">
          <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
          <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
          <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
          <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
          <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
          <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
          <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
          <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
          <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
          <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
      </ul>
  </div>
</div>
</section>
<!--sponsors style One-->

{% endblock %}



